################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ControlCode/OpenRC.WinUI.Desktop.GamepadController/OpenRC.WinUI.Desktop.GamepadController/bin
/ControlCode/OpenRC.WinUI.Desktop.GamepadController/OpenRC.WinUI.Desktop.GamepadController/obj
/ControlCode/OpenRC.WinUI.Desktop.GamepadController/OpenRC.WinUI.Desktop.GamepadController (Package)/bin
/ControlCode/OpenRC.WinUI.Desktop.GamepadController/OpenRC.WinUI.Desktop.GamepadController (Package)/obj
/ControlCode/OpenRC.WinUI.Desktop.GamepadController/OpenRC.WinUI.Desktop.GamepadController/bin
/ControlCode/.vs/OpenRC.WinUI
